body{
    width: auto;
}
.home, .about, .works{
    height: 650px;
}
.home, .works{
  background-color: #E0E3DA;
  margin: -5% 0 -5% 0;
}
.about{
   width: 100%;
   background-color: #FFFFF3;
   margin: 0% 0 0 0;
  }
h2{
  text-align: center;
  padding-top: 30px;
}
p, h2, .paragraph{
  color: #566270;
}
#about, #works, .portfolio{
  color: #A593E0;
}
#about{
  font-size: 70px;
  font-weight: bold;
  text-align: right;
  margin-right: 8%;
  margin-bottom: 2.5%;
}

#works{
  font-size: 70px;
  font-weight: bold;
  text-align: left;
  margin-left: 2.5%;
}
#self-picture{
  border-radius: 50%;
}



/*home*/
.home{
    width: 100%;
}
.self{
  float: right;
}
.intro{
  padding-top: 150px;
}
.portfolio{
  font-size: 70px;
  font-weight: bold;
}
.paragraph{
  font-size: 20px;
  color: #566270;
  padding-top: 40px;
  padding-bottom: 10px;
}


/*about*/
.cotents-item-wrapper{
  width: 100%;
}
#past-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }

  #current-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }

  #future-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: none;
  }
  
  .past-modal{
    position: absolute;
    top: 10%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }

  .current-modal{
    position: absolute;
    top: 10%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }

  .future-modal{
    position: absolute;
    top: 10%;
    left: 34%;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 450px;
    height: auto;
    text-align: center;
  }
  .past-title, .current-title, .future-title{
    text-align: left;
    margin: -1% 10% 2% 10%;
    font-size: 20px;
    font-weight: bold;
  }
  .past-form-para, .current-form-para, .future-form-para, .major-form-para, .archery-form-para, .study-form-para{
    text-align: left;
    margin: 5% 10% 5% 10%;
    font-size: 15px;
    
  }

  .fa-times {
    position: absolute;
    top: 12px;
    right: 12px;
    color: rgba(128, 128, 128, 0.46);
    cursor: pointer;
  }
  
  #signup-form, #login-form {
    width: 100%;
  }
  
  #signup-form h2, #login-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  #signup-form input, #login-form input {
    width: 320px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
  
  #submit-btn {
    display: inline-block;
    padding: 14px 140px;
    background-color: #5dca88;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }
h2{
    /*text-align: center;*/
    padding-top: 30px;
}
.contents-item{
  width: 30%;
  margin: 1% 1.6% ;
  float: left;
}
.contents-item:hover{
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.bottom{
  margin-top: 15%;
}
.picture{
  position: absolute;
}
.title{
  position: relative;
  top: 75px;
  padding: 30px 0px 30px 100px;
  font-size: 30px;
  background-size: 0 -20px 0 0;
  background-color: rgba(255, 255, 243, 0.6);
}
#application{
  background-color: #FFFFF3;
}

.box{
  width: 300px;
  height: 300px;
  background-color: #FFFFF3;
}

/*works*/
.title-works{
  position: relative;
  top: 75px;
  padding: 30px 0px 30px 70px;
  font-size: 30px;
  background-color: rgba(224, 227, 218, 0.6);
}
#major-modal, #archery-modal, #study-modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.major-modal, .archery-modal, .study-modal{
  position: absolute;
  top: 10%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}
.episode, .about-works{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.about-works{
  margin-top: 50px;
  padding-top: 50px;
}
